<h1 class="f-fun fz-lg">Reset Password</h1>
<p>Forgot your password? That's okay. Type your email address below. In moments, your inbox should have a message with instrcutions to reset your password. Please contact Regina Compton with any questions or quandries (reginafcompton@gmail.com).</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field mb-sm">
    <%= f.email_field :email, placeholder: "Email . . .", autofocus: true %>
  </div>

  <div class="actions mb-sm f-fun fz-std">
    <%= f.submit "Submit" %>
  </div>
<% end %>

