
<h1 class="f-fun fz-lg">Regina Compton</h1>
<h3 class="f-fun">Streetlamp Harvest, blog author</h3>
<p>Regina does not have a front-yard, backyard, or side-yard, nor a porch or fire escape upon which to grow herbs, flowers, and jalapeno peppers. Instead, she resides in a 180-square-foot apartment in the heart of Chicago, where she can appreciate, envy, and despise the miniature gardens that line the streets of her neighborhood.</p>
<p>Currently, Regina is learning about computer languages and the behind-the-scenes stories of the Internet. You can follow her journey into the twenty-first-century on her personal website, <a href="../../index.html" target="_blank">Before the Sn@il.</a> You can also send her an email (<a href="mailto:reginafcompton@gmail.com">reginafcompton@gmail.com</a>), or follow her on Twitter, Github, and LinkedIn.</p>
<ul class="ta-c m-auto">
  <li class="lis-n d-il p-xxs"><a href="https://twitter.com/reginafcompton" target="_blank"><%= image_tag("social_02") %></a></li>
  <li class="lis-n d-il p-xxs"><a href="https://github.com/reginafcompton" target="_blank"><%= image_tag("social_14") %></a></li>
  <li class="lis-n d-il p-xxs"><a href="https://www.linkedin.com/pub/regina-compton/33/975/38b" target="_blank"><%= image_tag("social_06") %></a></li>
</ul>

