/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// Variables
$white-color: #ffffff;
$hover-color: #BCBBC2;
$f-fun: 'Londrina Sketch', cursive;
$f-std: 'Quicksand', sans-serif;
$bg-dark: #313F54;
$bg-purple: #5F445D;
$bg-light-purple: #A9A0A9;
$bg-blue: #3E4863;

// Override Bootstrap
$navbar-margin-bottom: 0;
$navbar-default-bg: $white-color;
$navbar-default-link-color: $bg-dark;
$navbar-height: 80px;
$navbar-default-border: 0px;
$navbar-border-radius: 0;

@import "bootstrap-sprockets";
@import "bootstrap";

.nav, .navbar-brand {
	font-family: $f-std;
	font-size: 2em;
}

footer {
	background: url("grey_london.jpg");
	background-size: 500px;
	padding: 1.5em;
	text-align: center;
	font-family: $f-std;
	color: $white-color;
	font-size: 25px;
}

h1 {
	font-family: $f-fun;
}

h3 {
	font-family: $f-std;
}

.text {
	font-family: $f-std;
	font-size: 1.5em;
	padding-bottom: 1.5em;
	p {
		padding: 0.5em 0 0.5em 0;
		line-height: 1.8em;
	}
}

.social {
	text-align: center;
	margin: auto 0;
	margin: 2em 0 2em 0;
	li {
		display: inline;
		list-style: none;
		margin: 2em;
	}
}

.bg-top {
	background-color: $bg-purple;
	color: $white-color;
	.row {
		padding: 2em 0 2em 0;
	}
	h1 {
		font-size: 4em;
	}
}

.bg-transparent {
	background: url("grey_london_clear.JPG");
	background-size: 500px;

}

.bg-bottom {
	background-color: $bg-blue;
	color: $white-color;
	.row {
		padding: 1.5em 0 1.5em 0;
	}
}

.bg-bio {
	background-color: rgba(62,72,99, 0.15);
	.text{
		padding-top: 2em;
	}
}