
$navbar-default-color: #ff8c00;

@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #333;
$light-color:	#ffffff;


.background {
	height: 100%;
	background: url("grey_london.JPG") no-repeat center center;
	background-size: cover;
}

.transparent-nav {
    background: transparent;
    border: 0px;
}

header {
	text-align: center;
	color: $light-color;

	.welcome {
		font-size: 8em;
	}
}

