/*#nav-trigger {
  display: none;
  text-align: center;
}

#nav-trigger span {
  font-size: 2.2em;
}

#nav-trigger span:after {
  font-size: 2.2em;
  width: 30%;
  display: inline-block;
  content: "";
}

#nav-trigger span:hover {
  color: #9eab52;
}

#nav-trigger span.open:after {
}*/

#nav-main ul{
  float: right;
  font-size: 2.2em;
}

/*nav#nav-mobile {
  display: none;
}

nav#nav-mobile ul {
  display: block;
}

nav#nav-mobile li {
}

@media all and (max-width: 50em) {
  #nav-trigger { display: block; }
  nav#nav-main { display: none; }
  nav#nav-mobile { display: block; }
}
*/

